{
  "_comentario": "Copia este archivo como config.json y editalo",
  "telegram_token": "TU_TELEGRAM_TOKEN",
  "telegram_chat_id": "TU_CHAT_ID",
  "accounts": [
    {
      "label": "cuenta_1",
      "user_id": "TU_USER_ID_DE_GRASS",
      "ipv6": "2a01:4f8:...:1"
    },
    {
      "label": "cuenta_2",
      "user_id": "TU_USER_ID_DE_GRASS",
      "ipv6": "2a01:4f8:...:2"
    }
  ]
}
